html {
  font-size: 14px;
}
.homeBG {
    background-image: url(../Images/Home.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}
.accountButtonWrap{
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}
.accountBtns {
    margin: 10px 0 10px 0;
}
@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.card{
    width:100%;
    margin: 0 10px 0 10px;
}

@media (max-width: 1230px) {
    .homeBG {
        background-size: cover;
    }
}
